.picture {
    width: 450px;
    height: 250px;
    padding-top: 23px;
    border-radius: 12px;
    }
    .information-block,
    .information-block-sleep {
    height: 530px;
    border: 1px solid rgb(0, 0, 0); 
    width: 500px;
    margin-top: 30px;
    margin-left: 25px;
    border-radius: 12px;
    padding-left: 40px;
    padding-top: 18px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s; 
    margin-left: 55px;
    background-color: rgb(245, 245, 245);
    }
    .information-block:hover {
     background-color: rgb(240, 240, 240); 
    }
    .benefits {
        font-size: 20px;
        margin-right: 10px;
    }
    .benefits,
    .heading,
    .link {
        font-weight: 500;
        font-family: 'Winky Sans';
    }
    .link {
    display: inline-block; 
    text-decoration: none; 
    color: inherit;
    }
    .blocks {
        display: flex;
        align-items: center;
    }
    hr {
        border: none;
        background-color: rgb(255, 229, 217);
        height: 1px;
    }
    .information-block-sleep {
        margin-right: 53px;
    }