.water-icon{
    height: 60px;
}


.main-body-task{
    margin-top: 20px;

    border-width: 2px;
    border-color: black;

    display: flex;
    flex-direction: row;


    margin-right: 150px;
    margin-left: 150px;

}

.mascot-pet{
    height: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
}

.mascot-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-left: 30px;

}

.progress-bar{
    width: 100px;
    background-color: white;
    border-width: 1px;
    border-color: grey;

    border-radius: 30px;
    border-width: 2px;
    
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 70px;
    margin-right: 60px;

    height: 50px;
    width: 500px;
}

.progress-bar-track{
    background-color: rgb(4, 166, 195);
    border-width: 1px;
    border-color: grey;

    border-radius: 30px;
    border-width: 2px;

    height: 50px;
    width: 180px;
    
}

.inside-body-up{

    margin-right: 150px;
    margin-left: 150px;

    display: flex;
    flex-direction: row;

    border-width: 2px;
    border-style: solid;
    border-color: gray;
    border-radius: 17px;

   


}

.main-body{
    border-width: 2px;
    border-style: solid;
    border-color: gray;

    display: flex;
    flex-direction: column;
}





.task-table{
    display: flex;
    flex-direction: column;
    position: absolute;

    border-width: 2px;
    border-color: black;

    top: 0;
    bottom: 0;
    right: 50px;
}


.task-field{
    border-width: 2px;
    border-style: solid;
    border-color: gray;

    display: flex;

    flex-direction: column;
}
